body {
  font-family: 'Montserrat', sans-serif;
  background-color: #3C486B;
  color: black;
  }
  
  h1  {
    color: #F0F0F0;
    font-size: 300%;
    text-align: center;
    font-weight: bold;  
  }

  h2 {
    color: #F0F0F0;
    text-align: center;
    font-weight: bold; 
  }
  
  h3 {
    color: #F45050;
    text-align: center;
    font-weight: bold;
  }
  
  a {
    color: blue;
    text-align: center;
    font-weight: bold;
  }

  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  .menu {
    display: flex;
    justify-content: flex-end;
    font-size: 150%;
    color: #F0F0F0;
    margin: 0 auto;
    font-weight: bold;
  }
  .header1 {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: #F0F0F0;
    background-color: #3C486B(167, 23, 23);
    padding: 20px;
  }

  .chicken-img1  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 15%;
    max-height: 15%;
  }

  .main {
    background-color: #F0F0F0;
    padding: 20px;
    text-align: center;;
  }
  
  .info {
    background-color: #F9D949;
  }

  .bowls {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(173, 151, 151);
    padding: 20px;
  }

  .snacks {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(165, 160, 228);
    padding: 20px;
  }

  .beverages {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(173, 151, 151);
    padding: 20px;
  }
  
  .footer {
    background-color: #3C486B;
    color:#F0F0F0;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }
